@model IEnumerable<DemoMVC.Models.Student>

<h2>Student List</h2>

<a asp-action="Create">Add Student</a>

<table border="1">

<tr>
<th>ID</th>
<th>Name</th>
<th>Code</th>
<th>Age</th>
<th>Email</th>
<th>Action</th>
</tr>

@foreach (var item in Model)
{
<tr>
<td>@item.Id</td>
<td>@item.FullName</td>
<td>@item.StudentCode</td>
<td>@item.Age</td>
<td>@item.Email</td>

<td>
<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
</td>

</tr>
}

</table>